.estate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 100%;

}

.estdiv {
    width: 1579px;
    height: 0;
    margin: 31px 106px 0 235px;
    border: solid 1px #d0deea;
}

.estbottomtitle {
    font-family: NDAstroneer;
    font-size: 56px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #02264a;
    margin-top: 1em;
}

.estimg {
    margin-bottom: 8em;
}
