.estate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #fff;
    width: 100%;
    /* padding: 50px 106px; */
}

.estdiv {
    width: 100%;
    height: 0;
    margin-top: 2.25em;
    margin-bottom: 2.75em;
    border: solid 1px #d0deea;
}

.estbottomtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 55%;
    font-family: "NDAstroneer";
    font-size: 52px;
    text-align: center;
    color: #02264a;
    margin-bottom: 50px;
}

.estimg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    /* margin-bottom: 8em; */
    /* margin-top: 3em; */
    /* padding-left: auto;
    padding-right: auto; */
}
