.newscard {
    width: 30%;
    height: 100%;
    min-height: 265px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 17px;
    box-shadow: 0 3px 6px 0 #c6d5e3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;

}

.newsinbox{
    height: 100%;
    min-height: 125px;
    text-align: left;
    margin-left: 1rem;
}
.news-title {
    font-family: "NDAstroneer";
    font-size: 26px;
    text-align: left;
    color: #02264a;
    margin: 0.5rem 0;
}

.newsdate {
    font-family: "NDAstroneer";
    font-size: 18px;
    text-align: left;
    color: #acacac;
}

@media screen and (max-width: 992px) {
    .newscard {
        width: 85%;
        margin-bottom: 2.5em;
    }
    .news-title {
        font-size: 25px;
    }
}
@media screen and (max-width: 540px) {
    .newscard {
        width: 100%;
        margin-bottom: 1.5em;
        min-height: auto;
    }

    .news-title {
        font-size: 20px;
    }
}