.newscard {
    width: 30%;
    height: 100%;
    min-height: 235px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 17px;
    box-shadow: 0 3px 6px 0 #c6d5e3;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;

}

.newsinbox{
    height: 100%;
    min-height: 125px;
    text-align: left;
    margin-left: 1rem;
}
.news-title {
    font-family: "NDAstroneer";
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #02264a;
    margin-bottom: 0.75rem;
}

.newsdate {
    font-family: "NDAstroneer";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.11;
    letter-spacing: normal;
    text-align: left;
    color: #acacac;
}

@media screen and (max-width: 992px) {
    .newscard {
        width: 85%;
        margin-bottom: 2.5em;
    }
    .news-title {
        font-size: 25px;
    }
}
@media screen and (max-width: 540px) {
    .newscard {
        width: 100%;
        margin-bottom: 1.5em;
    }

    .news-title {
        font-size: 20px;
    }
}