.estmidcont {
    width: 100%;
    margin-left:auto;
    margin-right: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    
}
.estcontainermaxwith{
    max-width: 1320px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.estmidconttitle {
    font-family: "NDAstroneer";
    font-size: 56px;
    text-align: center;
    color: #02264a;
    margin-bottom: 80px;
}

.estmidcontinside {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.estimgg{
    width: calc(50% - 4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
}

.estmidcontright {
    width: calc(50% - 4px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 8px;
    
}
.est-rightrow{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 1rem;
    /* max-width: 569.9px; */
}
.estmidcontrightsub {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 60%;
}
.estmidcontrightsub1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 40%;
}

.est-text1 {
    font-family: "NDAstroneer";
    font-size: 32px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 2.32;
    letter-spacing: normal;
    text-align: left;
    color: #02264a;
}

.est-text2{
    font-family: "NDAstroneer";
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.08;
    letter-spacing: normal;
    text-align: left;
    color: #02264a;
}

.est-text3{
    font-family: "NDAstroneer";
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.33;
    letter-spacing: normal;
    text-align: left;
    color: #6d8dad;
}

.est-divider1 {
    width: 100%;
    height: 0;
    margin-top: 2em;
    margin-bottom:0.75em;
    border: solid 1px #e5e5e5;
  
}

.est-divider2 {
    width: 100%;
    height: 0;
    margin: 60px 0 0 0px;
    opacity: 0.3;
    border: solid 1px #d0deea;
    background-color: #fff;
}

.estcardbox {
    width: 190px;
    height: 237px;
    margin: 1rem;
    /* color: #02264a; */
    opacity: 0.15;
    border-radius: 16px;
    border: solid 3px #02264a;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.estbluecontbox{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #e4effa;
    width: 180px;
    height: 130px;
    margin: 0 6px;
    /* color:#02264a; */
}

.estfinish2 {
    
font-family: "NDAstroneer";
font-size: 32px;
text-align: left;
color: #02264a;

}
.estcontract-sideblue{
    display: flex;
    flex-direction: row;
    background-color: #f5faff;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.estmidcontinside2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;   
}
.bluebox-1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: calc(30% - 8px);
    padding: 8px;
}
.bluebox-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: calc(70% - 8px);
    padding: 8px;
}
.imglog{
    display: flex;
    align-items:center ;
    justify-content: center;
    width: 20%;
    height: 20%;
}

.est-boxtit {
    font-family: "NDAstroneer";
  font-size: 22px;
  text-align: center;
  color: #02264a;
}
@media screen and (max-width: 1200px) {
    .estimgg{
        width: 100%;
    }
    .estmidcontright{
        width: 100%;
    }
    .estmidconttitle {
        font-family: "NDAstroneer";
        font-size: 44px;
        text-align: center;
        color: #02264a;
        margin-bottom: 58px;
    }
}

@media screen and (max-width: 992px) {
    .estmidcontrightsub{
        width: 100%;
    }
    .estmidcontrightsub1{
        width: 100%;
    }

    .est-rightrow{
        margin-bottom: 0.5rem;
    }
    
    .bluebox-1{
        width: 100%;
    }
    .bluebox-2{
        width: 100%;
    }
    .estbluecontbox{
        width: 100%;
        justify-content: flex-start;
        padding: 16px;
    }
    .estfinish2 {
        width: 100%;
    }
    .estmidconttitle {
        font-family: "NDAstroneer";
        font-size: 36px;
        text-align: center;
        color: #02264a;
        margin-bottom: 36px;
    }
    
}
@media screen and (max-width: 540px) {
    .estfinish2{
        font-size: 26px;
    }

    .estmidconttitle {
        font-family: "NDAstroneer";
        font-size: 28px;
        text-align: center;
        color: #02264a;
        margin-bottom: 26px;
    }
}