.estabar {
    width: 1708px;
    height: 17px;
    margin: 24px 106px 13px;
    padding: 0 476px 0 0;
    background-color: #f4f4f4;
}

.estabar2 {
    width: 1232px;
    height: 17px;
    background-color: #cbe7fe;

}

.estaspan {
    width: 100%;
    margin-right: 5em;
    font-family: "NDAstroneer";
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: right;
    color: #02264a;
}
.estaloccard {
    width: 533px;
    height: 292px;
    margin: 43px 55px 59px 12px;
    padding: 37px 39px 21px 35.4px;
    border-radius: 17px;
    box-shadow: 0 3px 6px 0 #c6d5e3;
    background-color: #fff;
}

.estaloccardtop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    margin-bottom: 1.75em;
}

.estaloccarddis {
    font-family: "NDAstroneer";
    font-size: 36px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #02264a;
    margin-left: 0.5em;
}

.estaloccardbottom {
    font-family: "NDAstroneer";
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    text-align: left;
    color: #02264a;
}

.estaloccardrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.estabartop {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.estabartopl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 6em;
}

.estabartopr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 6em;
}

.estabartoprin {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.estamaintitle {
    font-family: "NDAstroneer";
    font-size: 85px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: normal;
    text-align: center;
    color: #02264a;
  
}

.estamaincomm {
    font-family: "NDAstroneer";
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.96;
    letter-spacing: normal;
    text-align: left;
    color: #02264a;
}

.estabartoprstyle1 {
    font-family: "NDAstroneer";
  font-size: 35px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #02264a;
}

.estabartoprstyle2 {
    font-family: "NDAstroneer";
  font-size: 80px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.18;
  letter-spacing: normal;
  text-align: center;
  color: #02264a;
  margin-right: 0.35em;
  margin-left: 0.45em;
}

.estabartoprstyle3 {
    font-family: "NDAstroneer";
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #02264a;
}

.estabartopheader {
    font-family: "NDAstroneer";
  font-size: 24px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 4.96;
  letter-spacing: normal;
  text-align: left;
  color: #6d8dad;
  width: 100%;
  margin-left: 8.5em;
}