.estabar {
    width: 100%;
    height: 17px;
    margin-top: 24px;
    padding-right: 12%;
    background-color: #f4f4f4;
}

.estabar2 {
    width: 100%;
    height: 17px;
    background-color: #cbe7fe;

}

.estaspan {
    width: 100%;
    font-family: "NDAstroneer";
    font-size: 36px;
    text-align: right;
    color: #02264a;
}
.estaloccard {
    width: calc(31% - 8px);
    height: 100%;
    min-height: 292px;
    margin-top: 2em;
    margin-bottom: 2.5em;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 34px;
    border-radius: 18px;
    box-shadow: 0 3px 6px 0 #c6d5e3;
    background-color: #fff;
}

.estaloccardtop {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
    /* margin-bottom: 1.75em; */
}

.estaloccarddis {
    font-family: "NDAstroneer";
    font-size: 36px;
    text-align: left;
    color: #02264a;
    margin-left: 0.5em;
}

.estaloccardbottom {
    font-family: "NDAstroneer";
    font-size: 28px;
    text-align: left;
    color: #02264a;
    margin: 30px 0 0 0;
}

.estaloccardrow {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.estabartop {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 67px;
}

.estabartopsecond {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    
}

.estabartopcomm{
    font-family: "NDAstroneer";
    font-size: 24px;
    text-align: left;
    color: #6d8dad;
}
.estabartopl {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
}

.estabartopr {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    
}

.estabartoprin {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.estamaintitle {
    font-family: "NDAstroneer";
    font-size: 60px;
    text-align: left;
    color: #02264a;
  
}

.estamaincomm {
    font-family: "NDAstroneer";
    font-size: 24px;
    text-align: left;
    color: #02264a;
}

.estabartoprstyle1 {
    font-family: "NDAstroneer";
  font-size: 35px;
  text-align: center;
  color: #02264a;
}

.estabartoprstyle2 {
    font-family: "NDAstroneer";
  font-size: 65px;
  text-align: center;
  color: #02264a;
  margin-right: 0.35em;
  margin-left: 0.45em;
}

.estabartoprstyle3 {
    font-family: "NDAstroneer";
  font-size: 36px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  text-align: center;
  color: #02264a;
}

.estabartopheader {
  font-family: "NDAstroneer";
  font-size: 24px;
  text-align: left;
  color: #6d8dad;
  width: 100%;
  margin-bottom: 0.5rem;
}

.estapaddingcont{
    padding:40px 106px;
}
@media screen and (max-width: 1200px) {
    .estaloccard{
        width: 100%;
        min-height: 242px;
        margin-top: 1.5em;
        margin-bottom: 2em;
    }
    .estamaintitle{
        font-size: 40px;
    }
    .estabartopheader {
        font-size: 18px;
    }
    .estabartoprstyle2{
        font-size: 45px;
        margin-right: 0.30em;
        margin-left: 0.40em;
    }
    .estabartoprstyle1{
        font-size: 25px;
        text-align: left;
    }
    .estapaddingcont{
        padding:38px 60px;
    }
    .estabartopcomm{
        font-size: 18px;
    }
    .estaspan{
        font-size: 30px;
    }
    .estaloccarddis{
        font-size: 30px;
    }
    .estaloccardbottom{
        font-size: 20px;
    }
}

@media screen and (max-width: 992px) {
    .estaloccard{
        width: 100%;
        margin-top: 1.15em;
        margin-bottom: 1.5em;
    }
    .estabartop{
        justify-content: center;
        text-align: center;
        padding-bottom: 36px;
    }
    .estabartoprin{
        width: 100%;
    }
    .estabartopheader{
        text-align: center;
    }
    .estamaintitle{
        text-align: center;
    }
    .estabartoprstyle2{
        
        margin-right: 0.24em;
        margin-left: 0.33em;
    }
    .estabartoprstyle1{
        font-size: 25px;
        text-align: left;
    }
    .estapaddingcont{
        padding:30px 24px;
    }
    .estaspan{
        font-size: 26px;
    }
    .estaloccardbottom{
        font-size: 22px;
    }
}
@media screen and (max-width: 745px) {
    .estabartoprstyle2{
        
        margin-right: 0.20em;
        margin-left: 0.29em;
    }
    
    .estabartop{
        padding-bottom: 28px;
    }
    .estapaddingcont{
        padding:20px 24px;
    }
    .estaloccardbottom{
        font-size: 18px;
    }
}
@media screen and (max-width: 540px) {
    .estaloccard{
        width: 100%;
        margin-top: 0.75em;
        margin-bottom: 1.15em;
    }
    .estabartop{
        padding-bottom: 22px;
    }
    .estamaintitle{
        text-align: center;
        font-size: 36px;
    }
    .estabartoprstyle2{
        font-size: 40px;
        margin-right: 0.12em;
        margin-left: 0.18em;
    }
    .estabartoprstyle1{
        font-size: 20px;  
    }
    .estapaddingcont{
        padding:8px 12px;
    }
}
 @media screen and (max-width: 414px) {
    
    .estamaintitle{
        /* text-align: left; */
        font-size: 34px;
    }
    .estabartoprstyle2{
        /* text-align: left; */
        font-size: 38px;
        margin-right: 0.12em;
        margin-left: 0.18em;
    }
    .estabartoprstyle1{
        /* text-align: left; */
        font-size: 18px;  
    }
    .estapaddingcont{
        padding:4px 12px;
    }
} 