
.headerl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: auto;
  height: 100%;
}

.headerr {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:3em;
  width: auto; 
  height: auto;
}

.headertit {
    font-family: "NDAstroneer";
  font-size: 75px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: left;
  color: #fff;
  max-width: 467px;
  width: 100%;
  margin-bottom: 1.25em;
}

.hbuttontit {
  font-family: "NDAstroneer";
  font-size: 31px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.16;
  letter-spacing: normal;
  text-align: center;
  color: #fff;
}

.hbutton {
  color: #ffffff;
  font-family: "NDAstroneer";
  font-style: normal;
  background-color: #fd6c21;
  font-size: 22px;
  border-radius: 10px;
  text-decoration: none;
  padding: 18px 0;
  text-align: center;
  width: 70%;
  display: inline-block;
  margin-top: 40px;
  font-weight: 300;
  -webkit-transition: all ease-in-out 0.3s;
  transition: all ease-in-out 0.3s;
  

}