.col-2{
    width: 20%;
    padding: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col-3 {
    width: calc(29% - 8px);
    padding: 4px;
}

.col-4 {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    margin-top: 200px;
}
.col-5{
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.col-8{
    width: calc(69% - 8px);
    padding: 4px;
}

.opptext1 {
    font-family: "NDAstroneer";
    color: #a4b9ce;
    font-size: 34px;
    width: 100%;
}

.titledarks {
    font-family: "NDAstroneer";
    color: #02264a;
    font-size: 28px;
    width: 100%;
}

.fend{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

.opptextr {
    font-family: "NDAstroneer";
    margin-top: 100px;
    color: #6e7b88;
    font-size: 22px;
    line-height: 1.4;
    width: 100%;
}

.titledark1 {
    font-family: "NDAstroneer";
    /* white-space: nowrap; */
    color: #02264a;
    font-size: 48px;
    /* font-weight: 600; */
    font-weight: normal;
    text-align: left;
    width: 100%;
}

/* /////////// */

.opp-container{
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #fff; 
    box-sizing: border-box;
    justify-content: center;
    padding: 0 120px;
}

.centervs{
    font-family: "NDAstroneer";
    color: #02264a;
    font-size: 70px;
    letter-spacing: 12px;
    line-height: 1.2;
    font-weight: normal;
    text-align: center;
    width: 100%;
}

.opp-leftside{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
}
.opp-rightside{
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    padding-top: 160px;
}
.opp-toptitles{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.opp-leftbottomcontainer{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 200px;
}
.opp-leftbottomcontainer-a{
     width: 25%;
     padding: 4px 0;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center; */
}
.opp-leftbottomcontainer-b{
    width: 75%;
    padding: 4px;
    /*display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    align-items: center; */
}

.opp-img-card{
    width: 100%;
    height: 100%;
    position: relative;
}

.opp-img-card img{
    max-width: 100%;
    height: 100%;
    object-fit:contain;
}

@media screen and (max-width: 1200px) {
    .opp-container{
        padding: 16px 60px;
    }
    .opp-rightside{
        padding-top: 120px;
    }
    .opp-toptitles{
        margin-bottom: 12px;
    }
}

@media screen and (max-width: 992px) {
    .opp-container{
        flex-wrap: wrap;
        height: fit-content;
        padding: 40px 24px; 
    }
    .opp-leftside{
        align-items: center;
        padding-bottom: 48px;
    }
    .opp-rightside{
        align-items: center;
        padding-top: 48px;
    }
    .col-5{
        width: 80%;
        padding: 4px 0;
    }
    .col-4 {
        margin-top: 100px;
    }
    .col-2{
        width: 80%;
        
    }
    .fend{
        justify-content: center;
        align-items: flex-start;
    }
    .titledark {
        text-align: center;
    }
    .opp-leftbottomcontainer {
        margin-top: 30px;
    }
    .opp-leftbottomcontainer-a{
        width: 100%;
        padding: 12px 4px;
    }
    .opp-leftbottomcontainer-b{
        width: 100%;
    }
}

@media screen and (max-width: 540px) {
    .opp-container{
        padding: 16px 12px; 
    }
    .opp-leftside{
        padding-bottom: 28px;
    }
    .opp-rightside{
        padding-bottom: 28px;
        padding-top: 28px;
    }
    .opp-leftbottomcontainer{
        margin-top: 20px;
    }
    .opp-leftbottomcontainer-a{
        padding:4px 0;
    }
    .opp-leftbottomcontainer-b{
        padding:4px 0;
    }
    .opp-toptitles{
        padding: 4px 0;
    }
    .centervs{
        margin-bottom: 4px;
    }
    .col-5{
        width: 100%;
        padding: 0px;
    }
    .opptextr{
        margin-top:28px;
    }   
    .col-4 {
        margin-top: 40px;
    }
}